<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
<h1>Welcome to personal space</h1>
<div class="navigation">
  <a href="/login">Login!</a>
  <a href="/signup">First time here? signup!</a>
</div>
  </body>
</html>
