<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>login</title>
    <link rel="stylesheet" href="./main.css">
  </head>

  <body>
    <h1>Welcome!</h1>
<div class="gradient-border" id="box">
  <form class="login" action="/login" method="post">
    <fieldset>
      <div class="">
        <label for="username">Username:</label>
        <input type="text" name="username" value="{{username}}" placeholder="Enter Username">
      </div>
      <div class="">
        <label for="pwd">Password:</label>
        <input type="password" name="password" value="{{password}}" placeholder="Enter Password">
      </div>
      <div class="">
        <input type="submit" name="" value="Login">
      </div>
    </fieldset>
  </form>
</div>
  </body>
</html>
